<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Walrus vs Slime (v2)</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body @vue:mounted="connectToServer()" class="bg-gray-800">
    <div class="w-3/5 my-8 mx-auto px-4 py-8 bg-white">
      <div v-if="isInit">
        <div v-if="isStarted">
          <div>
            <span class="font-bold">Mana</span>: {{ mana.current }} / {{ mana.max }}
          </div>
        </div>
        <div v-else>
          Waiting...
        </div>
      </div>
      <div class="text-center" v-else>
        <h1 class="mb-2 font-bold">Select Your Team</h1>
        <button class="mx-2 px-2 py-1 text-white bg-blue-700" @click="setTeam(1)" :disabled="!isConnected">Walrus</button>
        <button class="mx-2 px-2 py-1 text-white bg-blue-700" @click="setTeam(2)" :disabled="!isConnected">Slime</button>
      </div>
    </div>

    <script type="module">
      import { createApp } from 'https://unpkg.com/petite-vue?module'

      const cmdNameToMethod = name => name.split('/').map(part => part.charAt(0).toUpperCase() + part.slice(1)).join("")

      createApp({
        // Data
        socket: null,
        playerID: null,
        matchID: null,
        team: null,
        isStarted: false,
        mana: { current: 0, max: 0 },
        // Getters
        get isConnected() {
          return this.playerID != null
        },
        get isInit() {
          return this.team != null
        },

        // Methods
        connectToServer() {
          const protocol = location.protocol.replace('http', 'ws')
          this.socket = new WebSocket(`${protocol}//${location.host}/ws`)
          this.socket.onmessage = this.onCommandReceive
          this.socket.onopen = () => { this.executeCommand("login") }
        },
        onCommandReceive(evt) {
          const cmd = JSON.parse(evt.data)
          const handlerName = `onCmd${cmdNameToMethod(cmd.name)}`
          if(typeof this[handlerName] == 'function') {
            this[handlerName](cmd.parameters)
          }
        },
        setTeam(team) {
          this.executeCommand("match/find", { team: team })
        },
        // RPC Handler
        executeCommand(name, parameters) {
          this.socket.send(JSON.stringify({ name, parameters }))
        },
        onCmdConnected({ id }) {
          this.playerID = id
        },
        onCmdMatchInit({ id, team }) {
          this.matchID = id
          this.team = team
        },
        onCmdMatchStart() {
          this.executeCommand("match/join", { matchID: this.matchID })
        },
        onCmdMatchJoined() {
          this.isStarted = true
        },
        onCmdGameRecoverMana(newMana) {
          this.mana = newMana
        }
      }).mount()
    </script>
  </body>
</html>
